@page "/"
@using BlazorBarcodeScanner.ZXing.JS
@inject IJSRuntime JSRuntime

<h1>Hello, world!</h1>

Welcome to your new app.
<BlazorBarcodeScanner.ZXing.JS.BarcodeReader 
    StartCameraAutomatically="true"
    Title="Scanzor"
    VideoWidth="600"
    VideoHeigth="450"
    OnBarcodeReceived ="LocalReceivedBarcodeText"
 />

<p>Custom Result : @LocalBarcodeText</p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{     
    private string LocalBarcodeText;

    private void LocalReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        this.LocalBarcodeText = args.BarcodeText;
        StateHasChanged();
    }
}
